.product-details
{
    border: 1px solid #95A0A7;
    border-radius: 6px;
    margin: 15px;
}

div.product-details img
{
    width: 100%;
    border-radius: 15px;
}

.price
{
    font-size: 13px;
    margin: 2px 0;
}

.product-info{
    padding: 6px;
}

.add-to-cart-btn
{
    width: 100%;
    background-color: #FFE0B3;
    border-radius: 6px;
}

.add-to-cart-btn:hover
{
    background-color: orange;
}

.manufac-ratings
{
    line-height: 5px;
    font-size: 11px;
    margin: 30px 0 20px;
}

div.product-info h6
{
    margin: 2px 0;
}